body {
  font-family: monospace;
  font-size: 16px;
  background-image: url("bg.jpg");
  background-size: 100%;
  font-style: white;
}
table {
  border-collapse: collapse;
  border: none;
  border-radius: 15px;

}
th {
  border-radius: 15px;
  border: none;
  margin: 10px;
}
td {
  border: none;
  border-radius: 15px;
  margin: 10px;
}
h3{
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family: monospace;
}
label{
  color: white;
  font-family: monospace;
  font-size: 20px;
}
